# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# File Directory Ignore
/.gradle/
/gradle/
/.idea/

# File Type Ignore
*.gradle
*.bat

# File Ignore
gradlew